Source: udev-config-hybris
Maintainer: Giuseppe Corti (r3vn) <giuseppe.corti@protonmail.com>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/hybris-mobian/udev-config-hybris
Vcs-Git: https://github.com/hybris-mobian-releng/udev-config-hybris.git

Package: udev-config-hybris
Architecture: all
Pre-Depends: systemd, udev
Depends: ${misc:Depends}
Description: udev rules for hybris devices
 This package contains udev rules required on libhybris adaptations
